*.o
*.elf
*.map
*.d
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/project.properties
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.IAR/Debug
**/*.IAR/settings
**/*.IAR/*.dep
**/*.IAR/*.custom_argvars
**/*.KEIL/Objects
**/*.KEIL/*.uvguix.*
Gemfile*
/apps/clock/clock_config/firmware/pic32mk_mcj_curiosity_pro.X/build/
/apps/clock/clock_config/firmware/pic32mk_mcj_curiosity_pro.X/dist/