*.o
*.elf
*.map
*.d
*.flag
*.lock
*.backup
Gemfile*
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/project.properties
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.X/.generated_files
**/*.IAR/Debug
**/*.IAR/settings
**/*.IAR/*.dep
**/*.IAR/*.custom_argvars
**/*.X/*.lst
/apps/pmsm_foc_pll_estimator_pic32_mk/firmware/mclv2_pic32_mk_mcm_pim.X/build/
/apps/pmsm_foc_pll_estimator_pic32_mk/firmware/mclv2_pic32_mk_mcm_pim.X/dist/